{% include 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Discussion</title>
    <style>
        form {
            border: 0px solid black;
            margin: 45px auto;
            padding: 40px;
            width: fit-content;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #ffff;
            border-radius: 8px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <form action="{% url 'addInDiscussion' topic_id=topic_id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }} {# Renders all form fields as <p> elements #}
        <input type="submit" class="btn btn-success" value="Submit">
    </form>
</body>
</html>
{% endblock %}